@charset "utf-8";
/* CSS Document */

.pro {
    background: url("../1х1/eu_toolkit.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro1{
    background: url("../1х1/eu_room.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro2{
    background: url("../1х1/eu_offers.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro3{
    background: url("../1х1/eu_hotel.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro4{
    background: url("../1х1/eu_rooms.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro5{
    background: url("../1х1/eu_bar.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro6{
    background: url("../1х1/eu_bars.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro7{
    background: url("../1х1/eu_offer.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro8{
    background: url("../1х1/eu_service.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro9{
    background: url("../1х1/eu_spa.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro10{
    background: url("../1х1/eu_massage.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}
.pro11{
    background: url("../1х1/eu_contacts.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 2900px;
    left: 50%;
    margin: 0 0 0 -800px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1500px;
    z-index: 10;
}