@charset "utf-8";
/* CSS Document */

@import url("reset.css");

@font-face {
    font-family: 'Ago';
    src: url('../font/agopus.eot');
    src: local('☺'), url('../font/agopus.woff') format('woff'), url('../font/agopus.ttf') format('truetype'), url('../font/agopus.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body{
    height: 100%;
    font-family: Ago, sans-serif;
}
body{
    min-height: 100%;
}
#page{
    width:100%;
    height: auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 43px;
}
.header-top{
    width: 100%;
    height: 100px;
    background-color: #fff;
    background: url('../img/bg-header-top.png') -34px bottom repeat-x;

}
.header-top-holder{
    height: 100%;
    width: 930px;
    margin: 0 auto;
}
.header-top-holder:after, .header-top:after{
    clear: both;
    height: 0;
    display: block;
    content: "";
}
.logo{
    background: url("../img/logo-holder-bg.png") no-repeat scroll -16px bottom #FFFFFF;
    float: left;
    height: 80px;
    padding-top: 20px;
    width: 230px;
}
.logo span, .logo a{
    display: block;
    width: 212px;
    text-indent: -9999px;
    height: 60px;
    background: url('../img/logo.png') no-repeat;
}
.logo a:hover{
    background: url('../img/logo-hover.png') no-repeat;
}
.language{
    float: right;
    width: 130px;
    height: 25px;
} 
.language ul {
    float: right;
}
.language ul li{
    float: left;
    width: 60px;
    text-align: center;
    padding: 3px 0 5px 1px;
}
.language .active{
    background: url('../img/language-bg.png') no-repeat;
    color: #fff;
}
.language .active a {
    color: #fff;
    text-decoration: none;
    cursor: default;
}
.language ul li a{
    font-size: 14px;
    color: #47534f;
}
.language ul li a:hover{
    text-decoration: none;
}
.sidebar{
    float: right;
    margin-top: 10px;
    clear: right;

}
.sidebar ul {
    padding: 0 0 50px 11px;
}
.sidebar ul li{
    float: left;
    padding: 7px 13px 7px 12px;
}
.sidebar ul .current-menu-item, .sidebar ul .active2{
    background: url('../img/sidebar-active-bg.png') no-repeat;
    background-size: cover;
}
.sidebar ul .current-menu-item a{
    color: #ffffff;
    text-decoration: none;
    cursor: default;
}
.sidebar ul .active2 a{
    color: #ffffff;
    text-decoration: underline;
}
.sidebar ul .active2 a:hover{
    text-decoration: none;
}
.sidebar ul li:last-child{
    padding-right: 0px;
}
.sidebar ul  .current-menu-item:last-child{
    padding-right: 9px;
}
.sidebar ul li a {
    font-size: 14px;
    color: #61533f;
}
.sidebar ul li a:hover{
    text-decoration: none;
}
.header-bottom{
background: url("../img/bg-header-bootom.png") repeat-x scroll center 151px #B5B7AC;
}
.slideshow-holder{
    width: 1240px;
    margin: 0 auto;
    position: relative;
}
.category-image-holder{
    width: 1240px;
    margin: 0 auto;
	height: 300px;
}

.category-image-holder img{
	position:absolute;
}
.header-bottom .slideshow-holder-smoll{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.baner, .map{
    width:1240px;
    margin: 0 auto;
    height: 300px;
}
.baner img {
    position:absolute;
}
.map{
    position: relative;
}
.map .contact-map{
    background-color: #FFFFFF;
    color: #47534F;
    height: 89px;
    left: 145px;
    padding: 11px 10px 0;
    position: absolute;
    text-align: left;
    top: 33%;
    width: 360px;
    z-index: 8999;
}
.map .contact-map h2{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 7px;
}
.map .contact-map p{
    font-size: 18px;
    line-height: 23px;
}
.map .contact-map:after{
    content: url("../img/bg-map-after.png");
    display: block;
    height: 139px;
    position: absolute;
    right: -59px;
    top: -5px;
    width: 134px;
    z-index: 0;
}
#nav{
    background: url('../img/bg-slideshow-nav.png') right center no-repeat;
    background-color: #47534f;
    position: absolute;
}
.slideshow-nav{
    width: 950px;
    margin:0 auto;
    position: relative;
    z-index: 2;
}
#nav a{
    color: #FFFFFF;
    display: block;
    float: left;
    font: 14px Arial,sans-serif;
    padding: 12px 0 11px;
    text-align: center;
    text-decoration: none;
    width: 40px;
}
#nav a:hover{
    background: rgba(0,0,0,0.3);
}
.activeSlide{
    background-color: #8a8c7b;
}
.slideshow{
    z-index: 1;
}
.calculator.inline{
    background: rgba(51,51,51,0.6);
    bottom: 0;
    height: 90px;
    position: absolute;
    width: 1200px;
    z-index: 3;
}

.calculator-m {display: none;}
/*choice======================================================================*/
.choice{
    padding: 10px 0 0 0px;
    color: #fff;
    width: 956px;
    margin: 0 auto;
}
.choice:after{
    display: block;
    height: 0;
    content: "";
    clear: both;
}
.middle-choice{
    height: 90px;
    margin: 0 210px 0 285px;
}
.middle-choice label{
    font-size: 14px;
    display: inline-block;
}
.section{
    margin-bottom: 17px;
}
.section label{
    padding: 0 0 0 21px;
    display: block;
}
.section label p, .middle-choice label p{
    overflow-wrap: break-word;
    word-wrap:break-word;
}
.input-holder{
    float:left;
    height: 40px;
    background: url('../img/input-holder-bg.png') bottom center no-repeat;
}
.choice .input-holder:nth-child(1){
    padding: 0 21px 0 77px;
    background-position: 119px bottom ;
}
.choice .input-holder:nth-child(2){
    background-position: 47px bottom ;
    padding: 0 44px 0 0px;
}
.choice .input-holder:nth-child(3){
    background-position:23px bottom ;
    padding: 0 27px 0 0px;
    margin: 0 0 0 -29px;
}
.number{
    background-color: #333333;
    border: medium none;
    margin-left: 6px;
    padding: 6px 0 8px;
    text-align: center;
    width: 40px;
    color:#fff;
    font-family: Ago, sans-serif;
    cursor: url("../img/cursore2.png"), pointer;
}
.number:focus{
    color:#000;
}
.number:focus{
    background-color: #fff;
}
.choice-btn{
    float: right;
    position:relative;
}
.price{
    background-color: #61533f;
    color: #fff;
    display: block;
    font-size: 24px;
    height: 20px;
    line-height: 30px;
    padding: 5px 0 15px;
    text-align: center;
    text-indent: -11px;
    width: 190px;
}
.price span{
    font-size: 14px;
}

/*choice date======================================================================*/
.choice-date{
    float: left;
    width:285px;
    height: 90px;
    text-align:left;
}
.choice-date label{
    margin-bottom: 8px;
    display: block;
    overflow: hidden;
    position: relative;
}
.choice-date p{
    float: left;
    font-size: 13px;
    padding: 8px 0 0 12px;
    text-align: left;
}
.choice-room p{
    font-size: 13px;
    padding: 8px 0 0 12px;
}
.choice-date input{
    background-color: #333333;
    border: medium none;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    padding: 7px 0px 8px 40px;
    position: relative;
    text-align: left;
    width: 135px;
    margin-top: -1px;
    font-family: AGO, sans-serif;
}
.choice-date input:hover{
    background-color: #252525;
   
}
/*calendar======================================================================*/
#ui-datepicker-div{
    
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.28);
}
.ui-datepicker-header {
    background-color: #61533F;
    padding: 7px 0;
    text-align: center;
}
.ui-datepicker-month{
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}
.ui-datepicker-year{
    text-transform: uppercase;
    color: #ffffcc;
    font-size: 12px;
}
.ui-datepicker-prev, .ui-datepicker-next{
    display: block;
    width:30px;
    float: left;
    text-indent: -9999px;
    background-color: #574b39;
    height: 34px;
    margin-top: -11px;
    position: relative;
    cursor: pointer;
}
.ui-datepicker-next{
    float: right;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover{
    background-color: #443a2c;
}
.ui-icon-circle-triangle-w, .ui-icon-circle-triangle-e{
    background: url('../img/date-prev.png') no-repeat;
    display: block;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 40%;
    top:40%;
}
.ui-icon-circle-triangle-e{
    background: url('../img/date-next.png') no-repeat;
}
#ui-datepicker-div table{
    width: 100%;
    padding: 0 14px 15px 15px;
    display: block;

    background: #d3d3d3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #d3d3d3 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #d3d3d3 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 );

}
#ui-datepicker-div thead{
    width: 100%;
}

#ui-datepicker-div thead tr th {
    color: #47534F;
    font-size: 10px;
    padding: 10px 7px 10px 6px;
    font-size: 10px;
    font-family: Ago, sans-serif;
    color: #47534f;
    text-transform: uppercase;
}
#ui-datepicker-div thead tr th:last-child{
    padding-right: 6px;
}
.ui-datepicker-week-end span{
    color: #61533f;
}
#ui-datepicker-div table tbody tr .ui-datepicker-unselectable{
    border:none;
    cursor: default;
}
#ui-datepicker-div table tbody tr .ui-datepicker-unselectable:hover{
    border: none;
    background: none;
}
#ui-datepicker-div table tbody tr td{
    border: 1px solid #999999;
    padding: 5px 0 6px;
    text-align: center;
    font-size: 14px;
    color: #47534f;
    cursor: pointer;
}
#ui-datepicker-div table tbody tr td a{
    font-size: 14px;
    color: #47534f;
    text-decoration: none;
}
#ui-datepicker-div table tbody tr td:hover{
    border: 1px solid #999999;
    background-color: #cccccc;
    text-align: center;
}

#ui-datepicker-div table tbody tr .ui-datepicker-current-day{
    background-color: #333333;
 }
  #ui-datepicker-div table tbody tr .ui-datepicker-current-day a{
    color: #fff;
    font-size: 14px;
  }
 #ui-datepicker-div table tbody tr .ui-datepicker-today,
 #ui-datepicker-div table tbody tr .ui-datepicker-today:hover{
    border: 3px solid #9D9D9D;
    padding: 4px 0;
 }

.ui-datepicker-trigger{
    background: url("../img/calendar-bg.png") no-repeat scroll center center transparent;
    border: medium none;
    padding: 0;
    position: absolute;
    right: 9px;
    top: 6px;
    width: 15px;
    }
/*select=====================================================================*/
.selectbox {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 3px;
    float: right;
}
.selectbox .select {
    width: 273px;
    
    padding: 7px 24px 7px 11px;
    font-size: 14px;
    color: #fff;
    background-color:#333333;    
    border: 1px solid #333;
}
.selectbox .select:hover {
    background-color: #252525;
    border-color: #252525;
}

.selectbox.focused .select {
    border: 1px solid #5794BF;
}
.selectbox .select .text {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.selectbox .trigger {
    position: absolute;
    top: 0;
    right: -1px;
    width: 34px;
    height: 100%;
}
.selectbox .trigger .arrow {
    position: absolute;
    top: 13px;
    right: 11px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    width: 0;
    height: 0;
    overflow: hidden;
}

.selectbox .dropdown {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BABABA;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    margin: 0;
    padding: 6px 0;
    top: 33px;
    width: 307px;
}
.selectbox .dropdown ul{
    padding: 0;
    list-style-type: none;
}
.selectbox li {
    padding: 9px 10px 6px 21px;
    color: #231F20;
    position: relative;
}
.selectbox li.selected {
    background: #A3ABB1;
    color: #FFF;
}
.selectbox li:hover {
    background: #638bfd;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzOGJmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNDYyZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #638bfd 0%, #2462f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#638bfd), color-stop(100%,#2462f6));
    background: -webkit-linear-gradient(top,  #638bfd 0%,#2462f6 100%);
    background: -o-linear-gradient(top,  #638bfd 0%,#2462f6 100%);
    background: -ms-linear-gradient(top,  #638bfd 0%,#2462f6 100%);
    background: linear-gradient(to bottom,  #638bfd 0%,#2462f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#638bfd', endColorstr='#2462f6',GradientType=0 );
    padding: 8px 10px 5px 21px;
    color: #FFF;
    border-top: 1px solid #4b7cf2;
    border-bottom: 1px solid #4b69b5;
}
.selectbox li:hover:before{
    width: 10px;
    height: 8px;
    content: url(../img/option-bg.png);
    display: block;
    position: absolute;
    left:5px;
    top:8px;
    z-index: 9999;
}
.selectbox li.disabled {
    color: #AAA;
}
.selectbox li.disabled:hover {
    background: none;
}
/*wrapper=====================================================================*/
.wrapper{
    width: 950px;
    margin: 0 auto;
 
}
.description-left{
    background: url("../img/bg-description.png") no-repeat scroll center bottom #47534F;
    float: left;
    min-height: 281px;
    padding: 19px 10px 0 20px;
    position: relative;
    width: 350px;
}
.description-left h2{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 31px;
}
.description-left p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    padding: 0 11px 0 0;
}
.description:after{
    display: block;
    height: 0;
    clear: both;
    content: "";
}
.description-right{
    padding-top: 7px;
    max-height: 293px;
    overflow: hidden;
}
.description-right figure{
    padding: 5px 0 2px 20px;
    background: url("../img/decoration-1.png") no-repeat;
}
.description-right-in {
    border-top: 1px dotted #ccc;
    padding: 6px 0 0;
}
.description-right figure:first-child {
    background: none;
}
.description-right figure:first-child .description-right-in {
    border: none;
    padding: 3px 0 0;
}
.description-right figure figcaption p{
    font-size: 14px;
    color: #47534f;
    padding-top: 8px;
    line-height: 15px;
}
.description-right figure:first-child figcaption p{
    padding-top: 13px;

}
.description-right img{
    float: left;
    margin:0 22px 0 0;
}
.post{
    width: 100%;
    color: #47534F;
}
.post h2{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 15px;
    word-break: break-all;
}
.post p{
    font-size: 14px;
    line-height: 17px;
}
.post h3{
    font-size: 19px;
    font-weight: normal;
    margin-top: 35px;
}
.post:after, .post figure:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
}
.post figcaption{
    float:left;
    padding: 18px 0 0 0;
    min-height: 242px;
}
.post figure{
    background-color: #eaecee;
}
.post img{
    display: block;
}

.post-img-m {display: none;}

.kids_club img {float: left;}

.attachment-190x253.wp-post-image {
    height: 253px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.post .post-big p strong {
    font-weight: normal;
}
.post .post-big a {

    color: #61533f;
}
.post .post-big a:hover {text-decoration: none;}
.post .post-smal{
    background: url('../img/bg-post-smal.png') repeat;
    width: 180px;
    padding-left: 11px;
    padding-right:10px;
}
.post .post-big{
    background: url('../img/bg-post-big.png') repeat;
    width: 351px;
    padding-left: 19px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
    min-height: 232px;
}
/*left box=====================================================================*/
.left-box{
    width:380px;
    float: left;
    height: 100%;
}
.left-box:after, .content:after, .wrapper:after{
    clear: both;
    display: block;
    content: "";
    height: 0;
}
.calculator.block{
    background-color: #47534F;
    color: #FFFFFF;
    max-height: 236px;
    padding: 10px 0 0;
    width: 380px;
}
.calculator.block .date-holder .selectbox .select {
    background-color: #333333;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    padding: 8px 8px 8px 5px;
    width: 196px;
}
.calculator.block .date-holder .section label{
    font-size:14px;
    padding: 0;
}
.calculator.block .date-holder .section .selectbox {
    cursor: pointer;
    float: right;
    vertical-align: middle;

    z-index: 1;
}
.calculator.block .people-holder .input-holder {
    background: url("../img/input-holder-bg2.png") no-repeat scroll 9px 14px transparent;
    float: left;
    height: 70px;
    margin-right: 8px;
    width: 31%;
}
.calculator.block .people-holder .input-holder label{
    display: block;
    font-size: 13px;
    margin: 5px 0 7px;
    text-align: center;
}
.calculator.block .date-holder .section{
    padding-right: 9px;
}
.calculator.block .people-holder .input-holder .number{
    width: 58px;
    margin-left: 29px;
    color:#fff;
}
.calculator.block .people-holder .input-holder .number:focus{
    color:#000;
}
.calculator.block .people-holder{
    background-color: #3D4341;
    height: 71px;
    padding: 0 0 0 7px;
    margin-top: 23px;
}
.calculator.block .people-holder:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
.calculator.block .date-holder .choice-date input{
    border: medium none;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    padding: 8px 0 7px 9px;
    position: relative;
    text-align: left;
    width: 202px;
}
.calculator.block .date-holder .choice-date{
    float: left;
    height: 80px;
    text-align: left;
    width: 371px;
}
.calculator.block .choice-btn {
    margin: 0;
}
 .calculator.block .choice-btn .price{
    display: block;
    float: left;
    padding-left: 20px;
    text-indent: -29px;
    width: 170px;
}
.calculator.block .choice-btn a{
    float: left;
    display: block;
    text-indent: 0px;
}
.calculator.block .choice-btn .price span{
    text-indent: -113px;
}
.menu{
    min-height: 222px;
    padding: 18px 0 50px 11px;
    position: relative;
    overflow: hidden;
}
.slicknav_menu {display: none;}
.offer{
    background: url("../img/bg-offer.png") no-repeat;
    background-size: cover;
}
.spa{
    background-color: #ededed;
}
.menu h2{
    font-size: 30px;
    color: #47534f;
    font-weight: normal;
     margin-bottom: 16px;
}
.menu ul li:first-child{
    padding-top: 0;
    margin-top: 0;
}
.menu ul li{
    padding: 5px 0;
}
.menu ul li a{
    color: #61533f;
    text-decoration: underline;
    font-size: 14px;
}
.menu ul .current-menu-item a{
    color: #47534f;
    text-decoration: none;
}
.menu ul li a:hover{
    text-decoration: none;
}
.news{
    background-color: #EDEDED;
    color: #47534F;
    min-height: 188px;
    padding: 16px 20px 5px 21px;
}
.news h2{
    font-size: 29px;
    font-weight: normal;
    margin-bottom: 1px;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 16px;
}
.news p{
    font-size: 14px;
    line-height: 17px;
}
.news span p{
    padding-top: 14px;
    text-align: right;
}
/*content=====================================================================*/

.content, .content-massage{
    float: left;
	padding-left: 0;

}
.content figure img{
    float:none;
}
.content figure figcaption{
    text-align: center;
}
.content figure{
    float:left;
    margin-left: -17px;
}

/*hotel=====================================================================*/
.hotel{
    color: #47534F;
    padding: 17px 0 0 20px;
    width: 550px;
}
.hotel img{
    
    float: right;
    margin-bottom: 5px;
    margin-left: 26px
}
.hotel h2{
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 18px;
}
.hotel p{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
    padding-right: 10px;
}
.hotel p a {
    color: #61533f;
    font-size: 14px;
    text-decoration: underline;
}
.hotel p a:hover{
    text-decoration: none;
}
.hotel p:last-child{
    border-top: 1px dotted #CCCCCC;
    margin-top: 23px;
    padding-top: 23px;
}
.hotel figure{
    float: left;
    margin-left: -20px;
    margin-right: 21px;
    margin-top: -6px;
}
.hotel figure img{
    margin: 0;
    float: none;
}
.hotel figure figcaption{
    padding-top: 7px;
    text-align: center;
}
.hotel figure figcaption p {
    margin-bottom: 0;

}
.hotel figure figcaption p:first-child{
    border-top: none;
    padding: 0;
    margin-top: 0;
}
/*rooms=====================================================================*/
.rooms{
    height: 240px;
    float: left;
    background-color: #eaecee;
}
.rooms:after{
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.rooms-post{
    float:left;
    background-color: #fff;
    height: 100%;
    color:#47534f;
}
.rooms-post-content {padding: 18px 20px 30px; }
.rooms img, .rooms-post-img {
    float:left;
}
.standard{
    width: 570px;
    float: left;
}
.standard .rooms-post{
    width: 380px;

}
 .rooms-post h2{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 17px;
}
 .rooms-post h4{
    color: #61533F;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 18px;
}
 .rooms-post p{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 6px;
}
.rooms-post ul li{
    display: inline-block;
    padding-right: 10px;
}
.rooms-post ul li a{
    color: #61533F;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 35px;
    text-decoration: underline;
}
.rooms-post ul li a:hover{
    text-decoration: none;
}
.halfluxe{
    width: 100%;
    background: url('../img/rooms-bg1.png') right center no-repeat;
    background-color: #eaecee;
}
.halfluxe .rooms-post{
    width: 382px;
}
.halfluxe .rooms-post .rooms-post-content {padding: 18px 13px 0 10px;}
.apartments .rooms-post{
    width: 570px;
 
}
.luxe{
    background: url('../img/rooms-bg2.png') left center repeat-y;
    background-color: #eaecee;
}
.luxe .rooms-post{
    background-color: transparent;
    width: 380px;
}
.luxe .rooms-post .rooms-post-content {padding: 17px 39px 0 21px;}
/*service=====================================================================*/
.service{
    background-color: #fff;
    float: left;
    color:#47534f;
    overflow: hidden;
}
.service:after{
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.service img, .service-post{
    float: left;
}

.service-post{
    max-height: 230px;
    padding: 17px 10px 0 10px;
    overflow: hidden;
}
.service-post h2{
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 14px;
}
.service-post h2 a{
    color:#47534f;
    text-decoration: none;
}
.service-post h2 a:hover{
    text-decoration: underline;
}
.spa .service-post p{
    font-size: 16px;
    line-height: 19px;
}
.service-post p{
    font-size: 14px;
    line-height: 17px;
}
.spa h2{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;
}
.spa .service-post{
    padding: 17px 20px 0;
    width: 340px;
}
.spa2 .service-post{
    padding: 17px 20px 0;
    width: 340px;
}
.auto{
    padding-left: 190px;
}
.service-post{
    width: 170px;
    overflow-wrap: break-word;
    word-wrap:break-word;
}
.more-btn-holder{
    clear: both;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    width: 190px;
}
/*content holder=====================================================================*/
.content-holder{
    height: 240px;
}
.content-bars .content-holder{
    height: 240px;
    float: left;
}
.post-box{
    background-color: #FFFFFF;
    color: #47534F;
    float: left;
    min-height: 224px;
    padding: 16px 0 0 20px;
    position: relative;
    width: 170px;
}
.content-bars .content-holder .post-box{
    background-color: #FFFFFF;
    color: #47534F;
    float: left;
    position: relative;
    width: 180px;
    padding: 0;
}
.content-bars .content-holder .post-box-content {padding: 18px 0 0 10px; min-height: 222px;}
.content-bars .content-holder .post-box h2{
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    margin-bottom: 13px;
}
.content-bars .content-holder .post-box h2 a{
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    color: #47534F;
}
.content-bars .content-holder .post-box h2 a:hover{
    text-decoration: underline;
}
.btn-img{
    display: block;
    float: left;
    background-color: #000;
    position: relative;
    height: 100%;
}
.btn-img .btn-smoll-right{
    right:100%;
}
.btn-img .btn-smoll-left-right{
    left: 100%;
}

.btn-img img {  
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.btn-img img:hover, .btn-img .hover-img,.btn-img:hover img{
    opacity: 0.6;
}
.btn-img .btn-big-right{
    right:100%;
}
.btn-img:hover .btn-big-right{
    text-decoration: none;
    background-color: #ccc;
}
.btn-img:hover .btn-big-right:before{
    content: url(../img/btn-bg-before-hover.png);
}
.btn-img p {
    position: absolute;
    top: 42%;
}
.text-left .btn-img p a{
    left: 202px;
    text-align: left;
}
.btn-img p a{
    color: #47534F;
    font-size: 14px;
    margin-right: 10px;
    min-width: 170px;
    position: absolute;
    right: 100%;
    text-decoration: underline;
    text-align: right;
}
.btn-img p a:hover, .btn-img:hover p a{
    text-decoration: none;
}
.content-bars .content-holder .post-box p{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    padding-right: 10px;
}
.post-box h2{
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 16px;

}
.post-box p{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    padding-right: 10px;
}
.content-holder img{
    float: left;
}
.center-post{
    float:none;
    clear: both;
    margin: 0 auto;
    position: relative;
    padding-left: 190px;
}
.center-post:before{
    content: url(../img/center-bg-before.png);
    display: block;
    width:190px;
    background-color: #eaecee;
    height: 100%;
    position: absolute;
    left: 0;
}
.center-post:after{
    right: -25%;
    content: url(../img/center-bg-after.png);
    display: block;
    width:190px;
    background-color: #eaecee;
    height: 100%;
    position: absolute;
}
.grill{
    padding-left: 190px;
    background: url('../img/grill-bg.png') left center no-repeat;
    background-color: #eaecee;
}
/*content holder ful=====================================================================*/
.full .post-box{
    padding-right: 10px;
    width: 540px;
    min-height: 274px;
}
.single-room  .post-box{
    min-height: 224px;
}
.room-sidebar{
    color: #47534F;
    min-height: 140px;
    padding: 18px 0 0 10px;
}
.room-sidebar h2{
    font-size: 30px;
    font-weight: normal;
}
.room-sidebar ul li{
    padding:13px 0 0 0;
}
.room-sidebar ul li a{
    font-size: 14px;
    color: #47534f;
}
.room-sidebar ul li a:hover{
    text-decoration: none;
}
.room-in{
     background: url("../img/room-in-bg.png") no-repeat scroll right bottom #EAECEE;
    color: #47534F;
    float: right;
    width: 570px;
}
.room-in-content {overflow: hidden; padding: 18px 0 10px 20px; min-height: 142px;}
.room-in h2{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 8px;
}
.room-in ul{
    float:left;
    width: 50%;
    font-size: 14px;
    
    list-style-type: disc;
    list-style-position: inside;
}
.room-in ul li{
   padding: 14px 0 0;
}

.gallery-room{
    padding-left: 190px;
}
.gallery-room:after{
    height: 0;
    clear: both;
    display: block;
    content: "";
}
.room-description{
    color: #47534F;
    margin-bottom: 31px;
    overflow: hidden;
    padding: 27px 0 0 190px;
}
.room-description h2{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 17px;
}
.room-description ul{
    list-style-type: disc;
    list-style-position: inside;
}
.room-description .list{
    float:left;
    width: 50%;
}

.room-description li:first-child{
    padding:0;
}

.room-description ul li{
     padding: 15px 0 1px;
    font-size: 14px;
}
/*gallery=====================================================================*/
.gallery{
    width:100%;
}
.gallery:after, .features:after{
    clear: both;
    height: 0;
    content: "";
    display: block;
}
.gallery-box{
    width: 380px;
    float: left;
    height: 120px;
}
.margin{
    margin-left: 190px;
}
.gallery-box figcaption{
    width: 190px;
    float: left;
    text-align: right;
    height: 100%;
}
.gallery-box figcaption p{
    color: #47534F;
    font-size: 14px;
    margin-top: 28%;
    padding: 0 10px;
    text-align: right;
}

.text-left figcaption p {
    text-align: right;
}

.text-right figcaption p {
    text-align: left;
}

.gallery-box figcaption p a{
    text-decoration: underline;
    font-size: 14px;
    color: #47534f;
}
.text-left  figcaption {
    text-align: left;
}
.gallery-box figcaption p a:hover{
    text-decoration: none;
}
.gallery-box .img-holder{
    float: left;
    position: relative;
    width:190px;
    height: 120px;
    overflow: hidden;
}
.litebox{
    display: block;
    position: absolute;
    text-decoration: none;
    color: #8a8c7b;
    font-size: 14px;
    width: 100%;

    background-color: #47534f;
    padding: 72px 0 34px;
    text-align: center;

}
.gallery-box .img-holder img{
    position: absolute;
}
.gallery-box .img-holder:hover img{
    display: none;
}
.litebox:after{
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    height: 20px;
    width: 20px;
    display: block;
    content: url(../img/btn-gallery-bg.png);
}

.litebox:hover:after{
    top:40%;
    left: 45%;
}

.content-spa .gallery-box .img-holder:hover img{
    display: block;
}

/*features=====================================================================*/
.features{
    margin-top: 23px;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVjZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaecee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaecee));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaecee 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#eaecee 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaecee 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#eaecee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaecee',GradientType=0 );

}
.features-holder{
    height: 100%;
    min-height: 600px;
    padding: 0 10px;
    background: url('../img/features-bg.png') bottom right no-repeat;
}
.line-holder{
    border-bottom: 1px dotted #C7C7C8;
    color: #47534F;
    height: 165px;
    overflow: hidden;
    padding: 23px 0 0;
}
.line-holder:last-child{
    border-bottom: none;
    height: 100%;
}
.features-holder .line-holder figure:first-child{
    margin-left: 0;
}
.features-holder .line-holder figure:last-child{
    margin-right: 0;
}
.features-holder .line-holder figure{
    width:170px;
    margin: 0 10px;
    float: left;
    height: 174px;
    text-align: center;
}
.features-holder .line-holder figure h4{
    font-size: 14px;
    margin-bottom: 13px;
    margin-top: 5px;
}
.features-holder .line-holder figure p{
    font-size: 14px;
    line-height: 17px;
    padding: 0 1px;
}
/*post info=====================================================================*/
.post-info{
    border-bottom: 1px dotted #CCCCCC;
    color: #47534F;
    font-size: 14px;
    padding: 19px 0 30px 10px;
    width: 560px;
}

.post-info a {color: #61533f;}
.post-info a:hover {text-decoration: none;}
.content .stock{
    padding: 31px 0 0px 3px;
}
.content .stock h2{
    font-size: 24px;
}
.content .stock p{
    font-size: 14px;
    line-height: 18px;
}
.content .stock span p{
    margin-top: -2px;
}
.post-info p{
    font-size: 16px;
    line-height: 19px;
}
.post-info:last-child{
    border: none;
}
.post-info h2{
    font-size: 30px;
    font-weight: normal;
    color: #47534f;
    margin-bottom: 20px;
}
.post-info ul{
    padding-left: 8px;
    margin-bottom: 26px;
}
.post-info ul li{
    line-height: 17px;
    padding: 1px 0 8px;
    position:relative;
}
.post-info ul li:before{
    content: url("../img/bg-list-stile.png");
    left: -8px;
    position: absolute;
    top: -1px;
}
.post-info ul li:first-child{
    padding-top: 0;
}
.content-massage .post-info ul li:before{
    content: url("../img/massage-list-style.png");
    left: -13px;
    position: absolute;
    top: -1px;
}
.content .stock img{
    float: right;
    margin-top: 8px;
    margin-left: 20px;
    margin: 8px 0 20px 20px;
}
.content-massage .post-info{
    border-bottom: 1px dotted #CCCCCC;
    color: #47534F;
    font-size: 14px;
    padding: 11px 0 1px 3px;
}
.content-massage .post-info h2{
    color: #61533f;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 9px;
}
.content-massage .post-info ul{
    padding-left: 14px;
    margin-bottom: 0;
}
.content-massage .post-info:last-child{
    border-bottom: none;
}
.content-massage .post-info li{
    line-height: 17px;
    padding: 1px 0 9px;
}
.content-massage .post-info p{

}
.content-massage .post-title{
    border-bottom: 1px dotted #CCCCCC;
    color: #47534F;
    font-size: 14px;
    padding: 17px 0 9px 3px;
}
.content-massage{
    margin-bottom: 8px;
}
.content-massage .post-title h2{
    color: #47534F;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 14px;
}
.content-massage .post-title p{
    font-size: 14px;
    line-height: 18px;
    padding-right: 10px;
}
/*contact-post=====================================================================*/
.post-contact-hotel{
    background: url("../img/bg-contact-post-hotel.png") no-repeat scroll center bottom #47534F;
    color: #FFFFFF;
    float: left;
    min-height: 240px;
    overflow: hidden;
    padding-left: 20px;
    width: 170px;
}
.post-contact-hotel h3{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 17px;
    margin-top: 46%;
}
.post-contact-hotel p{
    font-size: 16px;
    line-height: 18px;
}
.content-contact{
    overflow: hidden;
}
.post-contact{
    color: #47534F;
    float: left;
    min-height: 240px;
    overflow: hidden;
    text-align: right;
}
.post-contact h3{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 22px;
    margin-top: 52%;
}
.post-contact p{
    font-size: 14px;
    line-height: 18px;
}
.post-contact figcaption{
    float: left;
    padding-right: 20px;
    width: 170px;
    height: 100%;
    min-height: 240px;
}
.post-contact .spa-bg{
     background: url("../img/bg-contact-spa.png") no-repeat scroll right bottom #f0f0f0;
     height: 100%;
}
.post-contact figure img{
    float: left;
}
.contact-form{
    width: 570px;
    float: left;
    overflow: hidden;
}
.contact-form .form-title{
    width: 170px;
    padding-right: 20px;
    float: left;
    min-height: 240px;
    text-align: right;
    background: url("../img/bg-form-title.png") no-repeat scroll right bottom #f0f0f0;
}
.contact-form .form-title h2{
    color: #47534F;
    font-size: 22px;
    font-weight: normal;
    line-height: 27px;
    margin-top: 50%;
}
.contact-form form{
    width: 380px;
    overflow: hidden;
    float: left;
    min-height: 240px;
}
.contact-form form .form-top{
    padding: 0 10px;
    background-color: #8a8c7b;
    max-height: 75px;
}
.contact-form form .form-top:after{
    clear: both;
    height: 0;
    content: "";
    display: block;
}
.contact-form form .form-top .input-holder{
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    padding: 14px 0 21px;
    text-align: left;
    width: 47%;
}
.contact-form form .form-top br {
  display: none;
}
.contact-form form .form-top span {
    display: block;
}
.contact-form form .form-top .input-holder p{
    font-size: 14px;
    margin-bottom: 1px;
}
.contact-form form .form-top .input-holder input{
    border: medium none;
    height: 30px;
    width: 152px;
    padding: 3px 3px 3px 13px;
    cursor: url('../img/cursore.png'), pointer;
    text-align: left;
    color: #47534f;
    font-size: 14px;
}
.contact-form form .form-top .input-holder:first-child{
    margin-right: 11px;
}
.contact-form form .form-top .input-holder #name{
    width: 154px;

}
.contact-form form .form-top .input-holder #email{
    width: 164px;
    
}
.contact-form form .form-bottom{
    background-color: #a5a79a;
    width: 100%;
    padding: 8px 10px 0px;
}
.contact-form form .form-bottom:after{
    clear: both;
    display: block;
    content: "";
    height: 0;
}
.contact-form form .form-bottom .input-holder{
    height: 100%;
    float: none;
    background: none;
    width: 100%;
}
.contact-form form .form-bottom .input-holder textarea{
    border: none;
    width: 344px;
    margin-bottom: 11px;
    text-align: left;
    color: #47534f;
    font-size: 14px;
    height: 84px;
    padding: 3px;
    padding-left: 10px;
    cursor: url('../img/cursore.png'), pointer;
}
.contact-form form .form-bottom .input-holder p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 1px;
}
.contact-form form .form-top .input-holder input:hover, .contact-form form .form-bottom .input-holder textarea:hover{
    border: 3px solid #757765;
    padding: 0;
    padding-left: 10px;

}
.contact-form form .form-bottom .input-holder textarea:hover{
    border: 3px solid #757765;
    padding: 0;
    padding-left: 7px;
}
.contact-form form .form-top .input-holder input:focus,
.contact-form form .form-bottom .input-holder textarea:focus{
    border: 3px solid #757765;
    padding: 0;
    padding-left: 10px;
}
.contact-form form .form-bottom .input-holder textarea:focus{
    border: 3px solid #757765;
    padding: 0;
    padding-left: 7px;
}
/*footer=====================================================================*/
.footer{
    max-width: 930px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
}
.info{
    float:left;
    width:25%;
    margin-right: 96px;
}
.info{
    color: #47534f;
    font-size: 13px;
}
.info span p{
    margin-top:16px;
    color: #8a8c7b;
}
.logo-foot{
    width: 66px;
    margin: 0 auto;
}
.logo-foot a{
    width: 66px;
    height: 59px;
    display: block;
    margin: 0 auto;
    background: url('../img/logo-foot.png') no-repeat;
}

.copyright{
    float: right;
    padding: 10px 0 0;
    width: 27.5%;
}
.copyright p{
    font-size: 12px;
    color: #8a8c7b;
    padding-right: 88px;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap:break-word;
}
.copyright p a{
    font-size: 12px;
    color: #8a8c7b;
    float: none;
    background: none;
    display: inline-block;
    margin: 0;
    width: auto;
    padding: 0;
    height: auto;
}
.copyright p a:hover{
    text-decoration: none;
    background: none;
}
.copyright a{
   float: right;
   display: block;
   width: 80px;
   margin-top: 5px;
   height: 18px;
   background: url('../img/pink.png')no-repeat;
}
.copyright a:hover{
   background: url('../img/pink-hover.png')no-repeat;
}
/*modal window=====================================================================*/

#mask {
    background: rgba(97,83,63,0.8);
    background: url("../img/bg.png")\0/;
    *background: url("../img/bg.png");
    display: none;
    font-family: Georgia;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100% !important;
    height: 100% !important;
}
#boxes .window {
    max-width: 750px;
    min-width: 450px;
    display: none;
    font-size: 25px;
    left: 0;
    text-align: center;
    top: 0;
    z-index: 9999;
    color: #47534f;
}
.window-order-fill {
    max-width: 750px;
    min-width: 450px;
    display: none;
    font-size: 25px;
    left: 50% !important;
    text-align: center;
    /*top: 50% !important;*/
    z-index: 9999;
    color: #47534f;
    margin: -73px 0 0 -225px;
}

#order-fill-contact {margin: -31px 0 0 -225px;}

#boxes #dialog{
    width: 570px;
    position: absolute;
    background: #fff;
}
#boxes .window h2{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 22px;
    margin-top: 10%;
    position: relative;
}

#boxes .window h2:before{
    content: url("../img/modal-h2-bg-before.png");
    display: block;
    height: 51px;
    left: 13%;
    position: absolute;
    top: -16px;
    width: 37px;
}
#boxes .window h2:after{
    content: url(../img/modal-h2-bg-after.png);
    display: block;
    height: 51px;
    right: 13%;
    position: absolute;
    top: -16px;
    width: 37px;
}
#boxes .window p{
    font-size: 18px;
}

#warningModal{
    padding: 10px 15px;
}
/*modal window=====================================================================*/
.btn-more{
    height: 40px;
    width: 190px;
    display: block;
    right:0;
    bottom: 0;
    position: absolute;
    background-color: #8a8c7b;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
}
.btn-price {
    height: 40px;
    width: 190px;
    display: block;
    left:0;
    bottom: 0;
    position: absolute;
    background-color: #625340;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
}
btn-price-wrapper {
    text-align: center;
    width: 100%;
}
.btn-price-nomera {
    background-color: #8a8c7b;
    height: 40px;
    width: 190px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    margin: 0 auto;
}
.btn-kidmenu {
    background-color: #8a8c7b;
    height: 40px;
    width: 190px;
    display: block;
    margin: 108px 350px 0 570px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 42px;
    right:100px;
}
.btn-choice{
    background-color: #8A8C7B;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-indent: -5px;
    width: 190px;
}
.btn-choice:hover, .btn-more:hover, .btn-price:hover,.btn-price-nomera:hover,.btn-kidmenu:hover{
    text-decoration: none;
    background-color: #727462;
}


.btn-all{
    height: 40px;
    width: 190px;
    display: block;
    left:0;
    bottom: 0;
    position: absolute;
    background-color: #8a8c7b;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 37px;
}
.btn-all:after{
    content: url(../img/btn-before.png);
    width: 27px;
    display: block;
    position: absolute;
    height:40px;
    right: -27px;
    top: -1px;
}
.btn-all:hover:after{
    content: url(../img/btn-before-hover.png);
}
.btn-all:hover{
    background-color: #727462;
    text-decoration: none;
}


.btn-smoll-left, .btn-smoll-right, .btn-big-left,
 .btn-big-right, .btn-smoll-left-right{
    width: 95px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #e5e5e5;
    color: #47534f;
    text-decoration: underline;
    text-align:center;
}
.btn-big-left, .btn-big-right{
    font-size: 16px;
    width: 190px;
}
.btn-smoll-left{
    left: 0;
}
.btn-smoll-left:hover, .btn-smoll-right:hover,
.btn-smoll-left-right:hover,
.btn-big-left:hover, .btn-big-right:hover,
.btn-img:hover .btn-smoll-right, .btn-img:hover .btn-smoll-left-right,
.btn-smoll-left-right:hover{
    background-color: #cccccc;
    text-decoration: none;
}
.btn-smoll-left:after, .btn-big-left:after,
.btn-smoll-left-right:after{
    content: url(../img/btn-bg-after.png);
    width: 27px;
    display: block;
    position: absolute;
    height:40px;
    right: -27px;
    top: -1px;
}
.btn-smoll-right:before, .btn-big-right:before{
    content: url(../img/btn-bg-before.png);
    width: 27px;
    display: block;
    position: absolute;
    height:40px;
    left: -27px;
    top: -1px;
}
.btn-smoll-right:hover:before, .btn-big-right:hover:before,
.btn-img:hover .btn-smoll-right:before{
    content: url(../img/btn-bg-before-hover.png);
}
.btn-smoll-left:hover:after, .btn-big-left:hover:after, 
.btn-smoll-left-right:hover:after,
.btn-img:hover .btn-smoll-left-right:after{
    content: url(../img/btn-bg-after-hover.png);
}
.btn-smoll-right, .btn-big-right{
    right: 0;
}
.btn-smoll-left-right{
    z-index: 1000;
}
.btn-contact{
    background-color: #76705D;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 37px;
    margin: 0 105px 0 auto;
    position: relative;
    text-align: center;
    width: 190px;
}
.btn-contact:hover{
    background-color: #61533f;
}
.btn-contact:before{
    content: url(../img/bg-before-btn-contact.png);
    width: 27px;
    display: block;
    position: absolute;
    height:40px;
    left: -26px;
    top: -1px;
}
.btn-contact:after{
    content: url(../img/bg-after-btn-contact.png);
    width: 27px;
    display: block;
    position: absolute;
    height:40px;
    right: -26px;
    top: -1px;
}
.btn-contact:hover{
    text-decoration: none;
}
.btn-contact:hover:before{
    content: url(../img/bg-before-btn-contact-hover.png);
}
.btn-contact:hover:after{
    content: url(../img/bg-after-btn-contact-hover.png);
}
/*litebox=====================================================================*/
#colorbox{
    z-index: 10;
}
#cboxWrapper{
    border: 10px solid #fff;
}
#cboxPrevious {
    background: url("../img/litebox-prev-bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 40px;
    left: -40px;
    position: absolute;
    text-indent: -9999px;
    top: 48%;
    width: 40px;
}
#cboxPrevious:hover{
    background: url("../img/litebox-prev-bg-hover.png") no-repeat scroll 0 0 transparent;
}
#cboxNext{
    background: url("../img/litebox-next-bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 40px;
    position: absolute;
    right: -60px;
    text-indent: -9999px;
    top: 48%;
    width: 40px;
}
#cboxNext:hover{
    background: url("../img/litebox-next-bg-hover.png") no-repeat scroll 0 0 transparent;
}
#cboxClose {
    background: url("../img/close-bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 40px;
    right: -60px;
    position: absolute;
    text-indent: -9999px;
    top: -40px;
    width: 40px;
}
#cboxClose:hover{
    background: url("../img/close-bg-hover.png") no-repeat scroll 0 0 transparent; 
}
#cboxTitle{
    background-color: #CCCCCC;
    display: block;
    float: left;
    left: 0;
    margin-top: 7px;
    padding: 12px 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #47534f;
}
#cboxCurrent{
    bottom: -43px;
    display: block;
    float: left;
    position: absolute;
    right: 0;
    color: #61533f;
    font-size: 14px;
}
#cboxCurrent span{
    color: #fff;
    font-size: 14px;
}
#cboxOverlay{
    background-color: #61533F;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top:0;
    z-index: 1;
    left: 0;
}
#cboxLoadedContent{
    background-color: #fff;
}

.turn h2:first-child {
  border:none;
  margin-top: 0;
  padding-top: 0;
}

.turn h2 {
    border-top: 1px dotted #CCCCCC;
    margin-top: 15px;
    padding-top: 15px;
}

.contact-form input[type=submit] {
  border:none;
}

.contact-form .span.wpcf7-not-valid-tip {
    top:0 !important;
    left:0 !important;
    background: none !important;
    border: none !important;
}

#order {
    padding: 160px 0 0 0;
    overflow: hidden;
    top: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    min-height: 1000px;
}
#order .close, #order-fill .close, #dialog .close, #order-fill-contact .close  {
    background: url("../img/button-close.jpg") no-repeat;
    display: block;
    float: right;
    height: 40px;
    position: absolute;
    right: -40px;
    text-indent: -9999px;
    top: 0;
    width: 40px;
}
#order .close {
    top:160px;
    right: 50px;

}


#order-fill, #order-fill-contact {
    position: absolute;
    background: #fff;
}
.form-holder {
    margin: 0 auto;
    width: 570px;
    background: #fff;
    padding: 49px 0 0;
}
.form-holder .how-to-contact {
    margin: 0 auto;
    width: 60%;
}
.how-to-contact .form-title {
    display: block;
    padding: 0 0 31px 0;
    overflow: hidden;
    width: 100%;
}
.form-title-l {
    background:  url("../img/image-form-title-before.png") no-repeat left top;
    width: 38px;
    height: 51px;
    float: left;
    padding: 0 13px 0 0;
}
.form-title-r {
    background:  url("../img/image-form-title-after.png") no-repeat right top;
    width: 38px;
    height: 51px;
    float: left;
    padding: 0 0 0 13px;
}
.form-title .content {
    float: left;
}
.how-to-contact .form-title h1 {
    margin: 0;
    font-weight: normal;
    font-size: 23px;
    line-height: 25px;
    color: #47534f;
    padding: 9px 0 0 0;
}
.how-to-contact .form-title span {
    font-size: 13px;
    line-height: 15px;
    color: #8a8c7b;
    padding: 0 0 0 42px;
    float: left;
}
.how-to-contact .row {
    overflow: hidden;
    padding: 0 0 6px 24px;
}

.how-to-contact .row.required_fields {
    background: url("../img/icon-stars.png") no-repeat 7px 40px;
}
.how-to-contact .row:last-child {
    padding: 0 0 0 24px;;
}
.how-to-contact .row:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.how-to-contact .row label{
    float: left;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    color: #47534f;
    text-align: center;
    padding: 0 0 8px 0;
    margin: 0 0 0 -25px;
}
.how-to-contact .row input[type="text"]{
    float: left;
    overflow: hidden;
    margin: 0;
    width: 75%;
    border: none;
    border: 3px solid #e5e6e0;
    background: #e5e6e0;
    padding: 6px 10px 6px 10px;
}
/*.how-to-contact .row input[type="text"]:focus {
    border: 3px solid #61533f;
}*/
.how-to-contact .row input:before {
    background: url("../img/icon-stars.png") no-repeat;
}
.how-to-contact .row span {
    float: left;
    color: #61533f;
    font-size: 11px;
    line-height: 13px;
    padding: 2px 0 0 43px;
    visibility: hidden;
}
/*.how-to-contact .row input[type="text"]:focus + span {
    visibility: visible;
}*/
.how-to-contact .row textarea{
    float: left;
    min-width: 264px;
    max-width: 264px;
    background: #e5e6e0;
    border: 3px solid #e5e6e0;
    min-height: 53px;
    margin: 0;
    padding: 5px 5px 5px 5px;
    overflow: auto;
}
.how-to-contact .row textarea:focus {
    border: 3px solid #61533f;
}
.btn-search-holder {
    padding: 24px 0 0 25px;
    overflow: hidden;
}
.btn-search-box {
    background:  url(../img/1.jpg) no-repeat right top;
}
.btn-search-box-holder {
    background: url(../img/1.jpg) no-repeat left top;
    overflow:hidden;
    width: 238px;
}
.btn-search-l {
    background:  url("../img/image-submin-before.png") no-repeat left top;
    width: 25px;
    height: 39px;
    float: left;
}
.btn-search-r {
    background:  url("../img/image-submin-after.png") no-repeat right top;
    width: 24px;
    height: 39px;
    float: left;
}
.btn-search-box-holder:hover .btn-search-l {
    background: url("../img/bg-before-btn-contact-hover.png") no-repeat 1px -1px;
}
.btn-search-box-holder:hover .btn-search-r {
    background: url("../img/bg-after-btn-contact-hover.png") no-repeat  right -1px;
}
.btn-search-box-holder .content {
    float: left;
    padding:0;
    width: 189px;
}
.form-holder .row .btn-search, .order-fill-inside .btn-search, #dialog .btn-search, #warningModal .btn-search {
    width: 189px;
    height: 40px;
    font-size: 17px;
    line-height: 37px;
    background: #76705d;
    color: #fff;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    display:inline-block;
    text-shadow: 0 1px 0 #626154;
}

.form-holder .row .btn-search:hover, .order-fill-inside .btn-search:hover, #dialog .btn-search:hover, #warningModal .btn-search:hover {
    background: #61533f;
    text-decoration: none;
    text-shadow:none;
}

.order-fill-inside {
    padding: 20px 20px 0;
}

.order-fill-inside .btn-search-box-holder, #dialog .btn-search-box-holder, #warningModal .btn-search-box-holder {
    margin: 20px auto 0;
}

.order-fill-row p {
    font-size: 17px;
    color: #47534f;
    padding: 0 0 8px 0;
}


.tr_holder {
	overflow:hidden;
    padding: 0 0 7px 0;
}
.tr_title {
    padding: 0 0 2px 0;
}
.tr_title a {
    font-size: 14px;
    color: #61533f;
}
.tr_title a:hover {
    text-decoration: none;
}
.tr_date, .tr_category {
	display:inline-block;
	float:left;
	color:#777;
	padding:0 4px 0 0;
    font-size: 12px;
    line-height: 16px;
}
.tr_anons {
    font-size: 14px;
    color: #47534f;
    line-height: 16px;
}
.tr_category a, .tr_offers a {
	color:#777!important;
}
.tr_category a:hover, .tr_offers a:hover {
    text-decoration: none;
}

.tr_offers{
	text-align:center;
	width:168px!important;
}
.tr_offers a {
    font-size: 20px;
    line-height: 22px;
}
.kids_club {
	width:569px!important;
	
	overflow:hidden;
	padding:0;
	height:253px;
	display:inline-block;
	float:left;
}

.tr_kids_klub {
background: url('../img/bg-post-big.png') center center no-repeat;
background-color: #eaecee;
	width:369px;
	color:#777;
	display:inline-block;
	padding:10px 0 3px 10px;
	position:relative;
	height:240px;
	float:left;
}

.tr_kids_klub-m {display:none;}
.tr_more {
	position:absolute;
	left:0;
	bottom:0;
}
.tr_video{
	display:inline-block;
	width:380px;
	float:left;
	padding:0;
	height:253px;
}
.tr_contact-form{
	background:#fff;
	border:1px solid #000;
	position:absolute;
	top:1%;
	height:530px;
	left:40%;
	z-index:10001;
}
.tr_holder, .form-title {
	text-align:center;
}

.form-title h6 {
	font-size:10px;
	font-weight:normal;
}
.error_class {
	border:1px solid red;
}
#mod_window {
	background:#fff;
	border:1px solid #000;
	position:absolute;
	top:30%;
	height:auto;
	left:33%;
	z-index:10002;
	padding:50px;
	display:none;
}
.tr_a_holder {
margin:5px auto;
padding:10px;
}
.but-contact {
	margin:20px auto 0;
	padding:10px;
	border:1px solid #000;
	background:#ccc;
	
}
img {
    border: none;
    vertical-align: middle;
}
.wrapper {
    margin: 0 auto;
    width: 950px;
}
.block {
    float: left;
    overflow: hidden;
    width: 950px;
}
.block:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.last,
.doings-block-interestingly {
    width: 380px;
    height: 223px;
    float: left;

}
.last h2,
.doings-block-interestingly h2 {
    padding: 0 0 17px 10px;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
}
.last h2 a,
.doings-block-interestingly h2 a {
    text-decoration: none;
    color: #47534f;
}
.row {
    width: 100%;
    padding: 0 0 16px 0;
}
.last .row {width: auto; padding-left: 10px;}
.row:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.row-close {display:none; float: none;}

.row-close .btn-search-holder {padding-left: 0;}

.row-close .btn-search-box-holder {margin: 0 auto;}

.interestingly-holder .data,
.row .data {
    float: left;
    width: 55px;
    font-size: 12px;
    line-height: 14px;
    color: #47534f;
    text-decoration: none;
    padding: 1px 9px 0 0;
}
.interestingly-holder .data {
    padding: 1px 9px 5px 0;
    width: 100%;
}
.row h4 {
    float: left;
    width: 300px;
    font-size: 14px;
    line-height: 17px;  
    font-weight: normal;
}
.row h4 a {
    color: #61533f;
    text-decoration: underline;
}
.row h4 a:hover {
    text-decoration: none;
}
.block .last .button, .interestingly .button {
    width: 190px;
    background: #8a8c7b;
    bottom: 0;
    position: absolute;
    right: 0;
    font-size: 16px;
    line-height: 20px;
    display: block;
}
.block .last .button span, .interestingly .button span {
    background: url("../img/bg-before-btn-contact.png") no-repeat top left;
    color: #fff;
    display: block;
    left: -27px;
    overflow: hidden;
    position: relative;
    text-decoration: underline;
    text-shadow: 0 1px 0 #67685b;
    padding: 11px 0 9px 76px;
}
.interestingly .button {
    left:-190px;
}
.interestingly .button:hover, .interestingly .img:hover .button{
    background-color: #727462;
    text-decoration: none;
}
.block .last .button span, .interestingly .button:hover span, .interestingly .img:hover .button span {
    text-shadow: 0 1px 0 #727462;
    background: url("../img/btn-after-hover.png") no-repeat left -1px;
    text-decoration: none;
}
.doings.block .last .button, .doings.block .interestingly .button {
    left: 0;
    font-size: 16px;
    line-height: 18px;
}
.doings.block .last .button span, .doings.block .interestingly .button span {
    background: url("../img/bg-after-btn-contact.png") no-repeat top right;
    left: 27px;
    padding: 11px 0 11px 23px;
}
.doings.block .interestingly .button{left: 570px;}
.doings.block .last .button:hover, .doings.block .interestingly .button:hover {
    background-color: #727462;
    text-decoration: none;
}
.doings.block .last .button:hover span, .doings.block .interestingly .button:hover span, .doings.block .interestingly .img:hover .button span {
    text-shadow: 0 1px 0 #727462;
    background: url("../img/btn-before-hover.png") no-repeat right -1px;
}
.kids_club .button, .tr_kids_klub-m .button {
    width: 124px;
    background: #8a8c7b;
    bottom: 0;
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    display: block;
    right: -124px;
    z-index: 10;
}
.kids_club .button span, .tr_kids_klub-m .button span {
    color: #fff;
    display: block;
    left: 27px;
    overflow: hidden;
    position: relative;
    text-decoration: underline;
    padding: 11px 0 9px 76px;
    color: #fff;
    background: url("../img/bg-after-btn-contact.png") no-repeat top right;
    padding: 0 0 0 1px;
    line-height:41px;
}
.kids_club .button:hover, .tr_kids_klub-m .button:hover {
    background: #727462;
    text-decoration: none;
}

.kids_club .button:hover span, .tr_kids_klub-m .button:hover span {
    text-decoration: none;
    background: url("../img/btn-before-hover.png") no-repeat right -1px;
}

.tr_kids_klub-m .button {left: 0;}

.post .post-big span {
    font-size: 18px;
    line-height: 20px;
    color: #47534f;
}
.interestingly {
    float: left;
    position: relative;
}
.interestingly-holder h3 {
    float: left;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    padding: 0 0 16px 0;
}
.interestingly-holder h3 a {
    text-decoration: none;
    color: #61533f;
}
.interestingly-holder h3 a {
    color: #61533f;
    text-decoration: underline;
}
.interestingly-holder h3 a:hover {text-decoration: none;}
.briefly {
    float: left;
    font-size: 13px;
    line-height: 17px;
    color: #47534f;
    text-decoration: none;
}
.img {
    float: left;
    width: 380px;
    background: #000;
}
.img a img {
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    opacity: 1;
}
.img img {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
/*.img:hover img {
    opacity: 0.6 !important;
}*/
.interestingly-holder {
    float: right;
    width: 170px;
    padding: 6px 10px 0 10px; 
}
.doings.block .interestingly-holder {
    float: left;
}
.doings.block {
    background: url(../img/bg-block.png) no-repeat;
}

